.modal-overlay {    
    position: fixed;
    inset: 0px;
    display: flex;
    justify-content: center;
    align-content: center;
    z-index: 99999;
    background-color: #70707070;
    width: 100%;
    height: 100%;
    animation-duration: var(--transition-duration);
    animation-name: opacity;
    text-align: start;
}

.modal-overlay .modal-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-overlay .modal-wrapper .modal-body {
    border-radius: var(--border-radius);
    background-color: var(--color-main);
    min-width: 650px;
    /* max-height: 50vh; */
}

.modal-body .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px;
    border-bottom: 1px solid var(--color-secondary);
}

.modal-body .modal-header h3 {
    font-weight: 400;
    font-size: 1.5rem;
    margin-right: 1rem;
}

.modal-body .modal-header button {
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
}

.modal-body .modal-content {
    padding: 20px 25px 0 25px;
    margin-bottom: 20px;
}

.modal-body .modal-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 25px;
    border-top: 1px solid var(--color-secondary);
}

.modal-footer .btn {
    margin-left: 15px;
}

@media (max-width: 768px) {
    .modal-overlay .modal-wrapper .modal-body {
        text-align: initial;
        min-width: 90vw;
        max-width: 90vw;
        margin: 0 1rem;
    }
}

@keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}