nav {
    height: 70px;
    box-shadow: var(--box-shadow);
    position: relative;
    z-index: 1000;
    margin-bottom: 40px;
    background: var(--color-main);
}

nav .nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: inherit;
}

nav ul.nav-links {
    display: flex;
    align-items: center;
    height: inherit;
    align-items: center;
}


nav ul li {
    list-style: none;
    position: relative;
    text-transform: uppercase;
}

nav ul a {
    text-decoration: none;
}

nav li a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding: 0 25px;
    height: 70px;
    color: var(--text-dark);
    font-weight: 500;
    cursor: pointer;
    transition: var(--transition-duration);
    background: var(--color-main);
    border-bottom: 3px solid var(--color-main);
    margin-bottom: 3px;
}

nav li a.active, 
nav .nav-menu-links a.active {
    border-color: var(--color-primary);
}

nav li svg {
    width: 30px;
    height: 30px;
    transition: var(--transition-duration);
    fill: var(--text-dark);
    margin-right: 8px;
}

.nav-links .user-menu.notification {
    min-width: 50px;
    padding: 0 10px;
    cursor: pointer;
    position: relative;
}

nav .notification svg {
    margin-right: 0;
}

.notification .count {
    position: absolute;
    background: var(--danger-hover);
    color: var(--text-light);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    right: 15px;
    bottom: 23px;
}

nav li a:hover {
    color: var(--text-dark);
    border-bottom: 3px solid var(--color-primary);
}

nav li a:active {
    background-color: var(--color-secondary);
}

nav .nav-links .user-menu:hover .nav-menu-links {
    opacity: 1;
    height: auto;
}

.nav-links .user-menu {
    min-width: 160px;
}

nav .nav-menu-links {
    position: absolute;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 969;
    min-width: 140px;
    transition: var(--transition-duration);
    opacity: 0;
    height: 0;
}

nav .nav-menu-links:last-child {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

nav .nav-menu-links {
    width: 100%;
    top: 73px;
    box-shadow: var(--box-shadow);
}

nav .nav-menu-links a {
    justify-content: space-between;
    padding: 10px 25px;
    text-align: end;
    font-size: .85rem;
    height: 50px;
    margin-bottom: 0px;
}

.nav-burger {
    display: none;
}

.nav-burger .notification a {
    position: relative;
}

@media (max-width: 768px) {
    nav .nav-wrapper {
        display: none;
    }

    nav .nav-burger {
        display: block;
    }

    .nav-burger .notification {
        list-style: none;
    }

    .nav-burger .notification a {
        border-left: 0;
        border-bottom: 3px solid var(--color-main);
    }

    .nav-burger .notification a:hover {
        border-left: none;
        border-bottom: 3px solid var(--color-primary);
    }

    nav li a.active,
    nav .nav-menu-links a.active {
        border-left: 3px solid var(--color-primary);
    }

    .nav-burger a {
        border-bottom: 0;
        border-left: 3px solid var(--color-main);
        justify-content: flex-start;
    }

    .nav-burger li a:hover {
        color: var(--text-dark);
        border-left: 3px solid var(--color-primary);
        border-bottom: 0;
    }
}