.companies {
    max-width: 1050px;
    margin: 0 auto;
}

.company-card {
    display: flex;
    background-color: var(--color-main);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: 1rem;
    transition: var(--transition-duration);
    border: 1px solid var(--color-secondary);
    flex-wrap: nowrap;
    margin-bottom: 25px;
    text-decoration: none;
    color: var(--text-dark);
}

.company-card.blink {
    min-height: 25vh;
}

.company-card-info {
    flex-grow: 1;
}

.company-card .company-card-image {
    max-width: 200px;
    min-width: 200px;
    padding-right: 15px;
}

.company-card .company-card-image img {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: var(--border-radius);
}

.company-card-info .company-card-info-name h3 {
    font-size: 1.75rem;
    font-weight: 400;
}

.company-card-info-description {
    display: flex;
    flex-wrap: wrap;
    margin: 1.5rem 0;
}

.company-card-detail {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.company-card-detail svg {
    width: 30px;
    height: 30px;
    fill: var(--text-dark);
    opacity: 0.75;
    margin-right: 10px;
}

.company-card-detail-text a,
.company-card-detail-text p:last-of-type {
    font-size: 1rem;
    text-decoration: none;
    color: var(--text-dark);
}

.company-card-info .btn svg {
    margin-right: 0.5rem;
}


@media (max-width: 568px) {
    .company-card {
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }
    .company-card .company-card-image {
        padding: 0;
        width: 100%;
        justify-self: center;
        align-self: center;
    }
    .company-card-detail {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .company-card-info-description {
        justify-content: center;
    }
    .company-card-detail svg {
        margin-right: 0;
    }
}