.employees-btn {
    cursor: pointer;
}

.users-modal .css-oukpw8-control {
    background: var(--color-secondary-light);
}

.users-modal {
    height: fit-content;
    /* overflow-y: scroll; */
    padding: 1rem 2rem 1rem 2rem;
}

.user-card {
    background: var(--color-main);
    border: 1px solid var(--color-secondary);
    border-radius: var(--border-radius);
    padding: 10px 10px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: var(--transition-duration);
}

.user-card:hover {
    box-shadow: var(--box-shadow);
}

.user-card-left {
    display: flex;
}

.user-card-image img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-shadow: var(--box-shadow);
}

.user-card-name {
    font-size: 1.1rem;
}

.user-card-right .btn {
    height: 37px;
    padding: 0 10px;
}

.user-card-email {
    font-weight: 600;
    opacity: .8;
}