.calender-body {
    margin-top: 20px;
    background: var(--color-secondary-light);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    max-width: fit-content;
    margin: 10px auto;
    zoom: 1;
    border: 1px solid var(--color-secondary);
}

.calender-body.blink {
    min-height: 500px;
    min-width: 100%;
}

.scheduler-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    overscroll-behavior-y: none;
    border-radius: var(--border-radius);
    margin: 10px 0;
    background: var(--color-main);
    max-width: fit-content;
    /* max-width: 1920px; */
}

.section-container {
    max-width: fit-content;
    max-height: 65vh;
}

.calender-timestamp .hours {
    font-size: 0.7rem;
    font-weight: 700;
}

.footer-row .section-holder:hover,
.calender-timestamp .section-holder:hover {
    background-color: var(--color-secondary);
}

.section-container.calender-timestamp.header-row .section-title .section-content {
    margin-left: 0;
    padding-left: 15px;
    position: relative;
}

.section-container.footer-row .section-title .section-content {
    margin-left: 0;
    padding-left: 15px;
    position: relative;
}

.section-row {
    position: relative;
    max-width: fit-content;
    min-width: fit-content;
    transition: var(--transition-duration);
    border-right: 10px solid var(--color-secondary-light);
    border-left: 10px solid var(--color-secondary-light);
    background-color: var(--color-secondary-light);
}

.user-row:hover .section-title, 
.user-row:hover .section-holder {
    background: var(--color-secondary);
}

.user-row:first-child .section-title  {
    border-top-left-radius: var(--border-radius);
}

.user-row:nth-last-child(2) .section-title  {
    border-bottom-left-radius: var(--border-radius)!important;
}

.user-row:nth-of-type(1) .flex:first-child .section-holder:last-child {
    border-top-right-radius: var(--border-radius)!important;;
}

.user-row:nth-last-child(2) .flex:last-child .section-holder:last-child {
    border-bottom-right-radius: var(--border-radius)!important;;
}

.section-row .section-title {
    min-width: 220px;
}

.section-row .section-title .section-name {
    text-overflow: ellipsis;
    font-weight: 600;
    max-width: 130px;
    overflow: hidden;
}

.section-row .section-title .section-content,
.section-row .col .section-content {
    max-width: 190px;
    width: 190px;
    overflow: wrap;
    border-radius: var(--border-radius);
    margin: 10px;
    height: 50px;
    padding: 0 5px;
    border-radius: var(--border-radius);
    font-weight: 600;
    font-size: 1rem;
    align-items: center;
    box-shadow: var(--box-shadow);
    background: var(--color-main);
}

.section-row .section-title,
.section-row .section-holder { 
    min-height: 70px;
    outline: 1px solid var(--color-secondary-light);
    transition: var(--transition-duration);
}

.open-shift.user-row .section-holder:last-of-type {
    border-top-right-radius: var(--border-radius);
}

.user-row .section-title,
.user-row .section-holder {
    background: var(--color-main);
}

.section-row .shift-parent {
    position: relative;
    /* transition: var(--transition-duration); */
}

.section-row .section-holder .create-shift div {
    width: 0;
    height: 50px;
    margin: 10px;
    border-radius: var(--border-radius);
    fill: var(--text-light);
    background: var(--color-primary);
    transition: var(--transition-duration);
}

.section-row .section-holder:hover .create-shift div {
    width: 100%;
    cursor: pointer;
    box-shadow: var(--box-shadow);
}
.section-row .section-holder .create-shift div:hover {
    background: var(--color-primary-hover);
}

.section-row .section-holder .create-shift div:active {
    opacity: 75%;
}

.section-row .section-title img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin-right: 5px;
    box-shadow: var(--box-shadow);
}

.section-row .section-title .section-hours svg {
    height: 12px;
    width: 12px;
    margin-right: 5px;
}

.section-row .section-title .section-hours {
    display: flex;
    font-size: .75rem;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    font-weight: 400;
}

.open-shift .section-img {
    background: var(--info);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
    box-shadow: var(--box-shadow);
}

.open-shift .section-title,
.open-shift .section-holder {
    background: var(--info);
}

.accepted-shift .section-title,
.accepted-shift .section-holder {
    background: var(--success);
}

.accepted-shift .section-img {
    background: var(--success);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
    box-shadow: var(--box-shadow);
}

.section-row .col {
    padding: 0;
    min-width: 220px;
    max-width: 220px;
}

.calender-body-day .section-row .col {
    flex-basis: 0;
    padding: 0;
    flex-grow: 1;
    max-width: 70px;
    min-width: 70px;
}

.section-row .shift {
    margin: 10px 10px;
    height: 50px;
    position: relative;
    padding: 0 10px;
}

.calender-body-day .user-row .shift {
    margin: 10px 0px;
}

.section-row .shift {
    padding: 0 5px;
    border-radius: var(--border-radius);
    font-weight: 600;
    font-size: 1rem;
    overflow: hidden;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    transition: var(--transition-duration);
}

.header-row .shift,
.footer-row .shift {
    background: var(--color-main);
}

.calender-body-day .header-row .shift,
.calender-body-day .footer-row .shift {
    margin: 10px 0;
    border-radius: 0;
    box-shadow: none;
    outline: 1px solid var(--color-secondary-light);
}

.calender-body-day .header-row .section-holder:nth-child(2) .shift,
.calender-body-day .footer-row .section-holder:nth-child(2) .shift {
    border-bottom-left-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
}

.calender-body-day .header-row .section-holder:nth-last-child(1) .shift,
.calender-body-day .footer-row .section-holder:nth-last-child(1) .shift {
    border-bottom-right-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.header-row .today {
    background: var(--color-primary);
    color: var(--text-light);
}

.header-row,
.footer-row {
    min-width: fit-content;
    background: var(--color-secondary-light);
}

.footer-row .badge {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0.25rem;
}

.section-row .shift .position,
.section-row .shift .clock-time,
.section-row .shift .total-hours {
    background-color: var(--color-main);
    padding: 2px 3px;
    color: var(--text-dark);
    border-radius: 5px;
    margin-left: 5px;
    font-size: 0.8rem;
    box-shadow: var(--box-shadow);
}

.section-row .shift hr {
    background: var(--color-secondary);
    height: 1px;
    border: 0;
}

.section-row .shift .time {
    transition: var(--transition-duration);
    position: relative;
}

.section-row .shift:hover .time {
    opacity: 0;
    height: 0;
}

.note-badge {
    width: 10px;
    background: var(--info);
    height: 150%;
    position: absolute;
    top: -20px;
    right: 0;
    transform: rotate(135deg);
}

.section-row .shift .edit {
    transition: var(--transition-duration);
    opacity: 0;
    height: 0;
    position: relative;
    z-index: 2;
}

.section-row .shift .edit svg {
    height: 100%;
}

.section-row .shift:hover .edit {
    opacity: 1;
    height: 100%;
}

.section-row .shift .stretch {
    width: 10px;
    height: 100%;
    background-color: transparent;
    position: absolute;
    cursor: w-resize;
    z-index: 10;
    right: 0;
}

.shift .shift-note {
    position: absolute;
    background-color: var(--color-main);
    padding: 4px 5px;
    color: var(--text-dark);
    border-radius: var(--border-radius);
    right: 0;
    bottom: -20px;
    z-index: 10;
}

@media (max-width: 768px) {
    .scheduler-wrapper {
        overscroll-behavior: initial;
    }
}
